<div>
  <div>
    <h1>
      All boards
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new board
    </h2>


  </div>
</div>

<hr>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="p-2">All boards</div>
      <div class="p-2 ms-auto">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add a new board board
        </button>
      </div>
    </div>
    
  </div>
  <ul class="list-group list-group-flush">
  <% @list_of_boards.each do |a_board| %>
    <li class="list-group-item">
      <a href="/boards/<%= a_board.id %>">
        <%= a_board.name %>
      </a>
    </li>
  <% end %>
  </ul>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_board" method="post">
          <div class="mb-3>
            <label for="name_box">
              Name
            </label>
            <input type="text" id="name_box" name="query_name" class="form-control">
          </div>
          <div class="d-grid">
            <button type="button" class="btn btn-success">
              Add board
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
